.DS_Store
*~
*.exe
*.log
*.o
*.sav
*.status
*.swp

Makefile

/bin/
/bin/**/desauto
/bin/**/leonconv
/bin/**/minimum-weight
/bin/**/wtdist

/doc/chap*.html
/doc/chap*.txt
/doc/*.css
/doc/*.js
/doc/chooser.html
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/manual.pdf
/doc/guava_bib.xml.bib

/src/ctjhai/minimum-weight
/src/leon/autom4te.cache/
/src/leon/configure
/src/leon/install-sh

/src/leon/cent
/src/leon/cjrndper
/src/leon/commut
/src/leon/compgrp
/src/leon/compile
/src/leon/desauto
/src/leon/fndelt
/src/leon/generate
/src/leon/inter
/src/leon/orbdes
/src/leon/orblist
/src/leon/randobj
/src/leon/setstab
/src/leon/wtdist
/src/leonconv

/tst/guava??.tst

/gh-pages/
/tmp/
