Makefile
doc/*.html
doc/*.txt
doc/*.pdf
*.sav
src/leon/*.o
src/ctjhai/*.o
*.*~
bin/**/desauto

bin/**/leonconv

bin/**/minimum-weight

bin/**/wtdist

Makefile-default64

src/ctjhai/minimum-weight

*.o

src/leon/autom4te.cache/

*.log

*.status

*.swp

src/leon/cent

src/leon/cjrndper

src/leon/commut

src/leon/compgrp

src/leon/compile

src/leon/desauto

src/leon/fndelt

src/leon/generate

src/leon/inter

src/leon/orbdes

src/leon/orblist

src/leon/randobj

src/leon/setstab

src/leon/wtdist

src/leonconv

*.log

src/leon/autom4te.cache/requests
