Makefile
doc/*.html
doc/*.txt
doc/*.pdf
*.sav
src/leon/*.o
src/ctjhai/*.o

bin/x86_64-apple-darwin15.2.0-gcc-default64/desauto

bin/x86_64-apple-darwin15.2.0-gcc-default64/leonconv

bin/x86_64-apple-darwin15.2.0-gcc-default64/minimum-weight

bin/x86_64-apple-darwin15.2.0-gcc-default64/wtdist

Makefile-default64

src/ctjhai/minimum-weight

*.o

src/leon/autom4te.cache/*

*.log

*.status
